<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                 
<!-- 다른 mapper와 중복되지 않돌고 네임스페이스 기재 -->
<mapper namespace="reply">

	<!-- 1. 댓글 입력 -->
	<insert id="insertReply">
	INSERT INTO TBL_REPLY
			( 
			  BNO
			, REPLYTEXT
			, REPLYER
			, SECRET_REPLY
			
			) VALUES (
			
			  #{bno}
			, #{replytext}
			, #{replyer}
			, #{secretReply}
			
			)					
						
	</insert>
	
	<!-- 2. 댓글 목록 -->
	<select id="listReply" resultType="com.example.spring02.model.board.dto.ReplyVO">
		
		<include refid="pagingHeader" />
		SELECT 
		       R.RNO
		     , R.BNO
		     , R.REPLYTEXT
		     , R.REPLYER
		     ,	R.SECRET_REPLY AS SECRETREPLY
		     , R.REGDATE
		     , R.UPDATEDATE
		     , M.USER_NAME AS USERNAME
		     , (SELECT WRITER FROM TBL_BOARD WHERE BNO = R.BNO) AS WRITER
		  FROM TBL_REPLY R
		     , TBL_MEMBER M
		 WHERE R.REPLYER = M.USER_ID
		   AND BNO = #{bno}
		 ORDER BY RNO
		 <include refid="pagingFooter" />
	</select>
	
	<!-- 3. 댓글 상세보기 -->
	<select id="detailReply" resultType="com.example.spring02.model.board.dto.ReplyVO">
		SELECT RNO
		     , BNO
		     , REPLYTEXT
		     , REPLYER
		     , UPDATEDATE
		     , SECRET_REPLY AS SECREYREPLY
		  FROM TBL_REPLY
		 WHERE RNO = #{rno} 
	</select>
	
	<!-- 4. 댓글 수정 -->
	<update id="updateReply">
		UPDATE TBL_REPLY
		   SET REPLYTEXT = #{replytext}
		 WHERE RNO = #{rno}
	</update>
	
	<!-- 5. 댓글 삭제 -->
	<delete id="deleteReply">
		DELETE 
		  FROM TBL_REPLY
		 WHERE RNO = #{rno}
	</delete>
	
	<!-- 6. 댓글 갯수(for 페이징처리) -->
	<select id="countReply" resultType="int">
		SELECT COUNT(*)
		  FROM TBL_REPLY
		 WHERE BNO = #{bno}
	</select>
	
	<!-- 페이징 sql -->
	<sql id="pagingHeader">
		SELECT MAIN.*
		  FROM (
		  			SELECT @rownum := @rownum + 1 AS rn
		  			     , A.*
		  			  FROM ( 
	</sql>
	<sql id="pagingFooter">
							) A
						  , (SELECT @rownum := 0) AS R
				) MAIN
		 WHERE MAIN.rn BETWEEN #{start} AND #{end} 
	</sql>
</mapper> 